body{
    margin: 0;
    padding: 0;   
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    color: black;
}

a:hover {
    color: #57FF1C;
}
/* header */
.header-content{
    display: flex;
}

.header-left{
    align-items: center;
    display: flex;
    margin-left: 9%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.header-left img{
    width: 60px;
}

.header-left span{
    margin-left: 10%;
    font-weight: 900;
    font-size: 30px;
}
/* header-left */
.header-right1{
    display: flex;
    margin-top: 2%;
    margin-left: 25%;
}

.header-right1 img{
    width: 40px;
    height: 40px;
    opacity: 50%;
}

.header-right1 div{
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    line-height: 0;
}

.header-right2{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.header-right2 img{
    width: 40px;
    height: 40px;
    opacity: 50%;
}

.header-right2 div{
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    line-height: 0;
}

.header-btn{
    margin-left: 5%;
    margin-top: 2%;
}

.btn-login{
    background-color: transparent;
    width: 150px;
    height: 40px;
    border: 1px solid black;
}

.btn-login:hover{
    background-color: #0fa958;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
}

/* navbar */
/* nav */
.navbar{
    width: 91%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 9%;
    background-color: #1C6758;
}


.nav-link{
    display: flex;
    width: 300px;
    font-weight: bold;
    justify-content: space-between;
}

.nav-link a{
    text-decoration: none;
    color: white;
}

.nav-link a:hover{
    color : #57FF1C;   
}
/* hero */
.hero img{
    width: 100%;
    height: 650px;
}

.hero-left{
    position: absolute;
    top: 300px;
    left: 9%;
}

.hero-left p:first-child{
    color: white;
    font-weight: 500;
    font-size: 25px;
}

.hero-left p:nth-child(2){
    color: white;
    font-weight: 900;
    font-size: 35px;
    margin-top: -2%;
}

.hero-left p:nth-child(3){
    color: white;
    font-weight: 300;
    font-size: 15px;
    width: 480px;
    margin-top: -4%;
}

.header-btn2{
    margin-top: 2%;
}

.btn-login2{
    background-color: transparent;
    width: 150px;
    color: white;
    font-weight: bold;
    height: 40px;
    border: 1px solid white;
}

.btn-login2:hover{
    background-color: #0fa958;
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: white;
    border: none;
}

/* hero-right */
.hero-right{
    right: 9%;
    padding: 1% 0px;
    top: 230px;
    position: absolute;
    background-color: white;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #00000071;
}

.hero-right form label{
    font-weight: bold;
    font-size: 25px;
    margin: 5% 5%;
}

.hero-right form input:nth-child(2),
.hero-right form input:nth-child(3),
.hero-right form textarea:nth-child(4),
.hero-right form input:nth-child(5)
{ 
    color: black; 
    padding: 10px 0px;
    width: 280px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    
}

.hero-right form a button{
    margin-left: 50px;
    background-color: #0fa958;
    border-radius: 15px;
    width: 180px;
    color: white;
    border: none;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 10%;
    height: 40px;
}

.hero-right form a button:hover{
background-color: #1C6758;
}


/* feature header */
.header-feature {
    position: relative;
    left: 43%;
}

.header-feature span {
    color: #57FF1C;
}

.header-feature-p {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.line {
    position: relative;
    border-bottom: #57FF1C 3px solid;
    width: 150px;
    align-items: center;
    left: 44%;
    margin-top: 50px;
}

/* circle feature */
.container-header-feature {
    margin-top: -10px;
    padding-top: 30px;
    background: linear-gradient(243.18deg, rgba(87, 255, 28, 0.2) 0%, rgba(12, 211, 255, 0.2) 100%), #FFFFFF;
}

.container-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(243.18deg, rgba(87, 255, 28, 0.2) 0%, rgba(12, 211, 255, 0.2) 100%), #FFFFFF;
    padding-bottom: 250px;
}

.circle-1 {
    margin-top: 6%;
    /* margin-left: 16%; */
    border: transparent 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(89.69deg, #5AC4FF 0.29%, #53FA28 110.8%, #45FF03 110.81%);
}

.circle-white-1 {
    background-image: url(img/car.jpg);
    background-size: cover;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: -10px;
    background-color: white;
}

.circle-content-1 {
    position: relative;
    top: 90%;
    text-align: center;
}

.circle-content-1 p:first-child {
    font-weight: bold;
}
.circle-2 {
    margin-top: 6%;
    margin-left: 10%;
    border: transparent 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(89.69deg, #5AC4FF 0.29%, #53FA28 110.8%, #45FF03 110.81%);
}

.circle-white-2 {
    background-image: url(img/logoplus.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: -10px;
    background-color: white;
    padding: 5px 0;
    box-sizing: border-box;
    background-position-x: 30px;
    background-position-y: 30px;
}

.circle-content-2 {
    position: relative;
    top: 90%;
    text-align: center;
}

.circle-content-2 p:first-child {
    font-weight: bold;
}
.circle-3 {
    margin-top: 6%;
    margin-left: 10%;
    border: transparent 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(89.69deg, #5AC4FF 0.29%, #53FA28 110.8%, #45FF03 110.81%);
}

.circle-white-3 {
    background-image: url(img/rescue.png);
    background-size: 120px;
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: -10px;
    background-color: white;
    box-sizing: border-box;
    background-position-x: 30px;
    background-position-y: 25px;
}

.circle-content-3 {
    position: relative;
    top: 90%;
    text-align: center;
}

.circle-content-3 p:first-child {
    font-weight: bold;
}

/* about */
.container-about{
    box-sizing: border-box;
    margin-top: -100px;
    margin-left: -100px;
    background: linear-gradient(243.18deg, rgba(87, 255, 28, 0.2) 0%, rgba(12, 211, 255, 0.2) 100%), #FFFFFF;
    padding-top: 200px;
    padding-left: 120px;
    padding-bottom: 40px;
    padding-top: 180px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.content-about{
    margin-bottom: 100px;
    margin-left: 130px;
}

.container-about hr {
    float: left;
    position: absolute;
    margin-top: -5px;
    width: 50px;
    border-color: #57FF1C;
}

.container-about span {
    color: #57FF1C;
}

.content-about img {
    float: right;
    position: relative;
    margin-top: -250px;
    width: 450px;
    height: 15rem;
    margin-right: 9%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #00000071;
}

.image-about-1 {
    margin-left: 120px;
}

.image-about-1 p {
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
}

.image-about-1 h1 {
    position: absolute;
    margin-top: -80px;
    margin-left: 99px;
}

.image-about-2 {
    margin-left: 120px;
    margin-bottom: 5%;
}

.image-about-2 p {
    position: absolute;
    margin-top: -20px;
    margin-left: 551px;
}

.image-about-2 h1 {
    position: relative;
    margin-top: -80px;
    margin-left: 550px;
}

.img-abt-1 {
    position: relative;
    height: 8rem;
    margin-left: -50px;
}

.img-abt-2 {
    position: absolute;
    height: 5rem;
    margin-left: 450px;
    margin-top: -30px;
}

/* artikel */

.container-artikel {
    margin: 0;
    padding-top: 20px;
    background: linear-gradient(243.18deg, rgba(87, 255, 28, 0.2) 0%, rgba(12, 211, 255, 0.2) 100%), #FFFFFF;
}

.header-artikel h1 {
    margin-left: 45px;
}

.header-artikel p {
    margin-left: 45px;
}

.header-artikel span {
    color: #57FF1C;
}

.header-artikel {
    text-align: center;
}

.line-artikel {
    left: 46%;
    position: absolute;
    width: 150px;
    margin-top: 20px;
    border-bottom: 3px solid black;
}

.card1 {
    position: relative;
    background-color: #f4f4f4;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    left: 110px;
    top: 291px;
    box-shadow: 7px 4px 4px #00000071;
    margin-top: -120px;
    padding: 0 20px;
}

.card1 p:first-child {
    font-size: 18px;
    position: relative;
    text-align: center;
    font-weight: bold ;
    top: 60%;
}

.card1 p:nth-child(2) {
    font-size: 16px;
    position: relative;
    text-align: center;
    top: 60%;
}
.card2 {
    position: relative;
    background-color: #f4f4f4;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    left: 350px;
    /* top: 291px; */
    box-shadow: 7px 4px 4px #00000071;
    margin-top: -120px;
    padding: 0 20px;
}

.card2 p:first-child {
    font-size: 18px;
    position: relative;
    text-align: center;
    font-weight: bold ;
    top: 60%;
}

.card2 p:nth-child(2) {
    font-size: 16px;
    position: relative;
    text-align: center;
    top: 60%;
}
.card3 {
    position: relative;
    background-color: #f4f4f4;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    left: 350px;
    /* top: 291px; */
    box-shadow: 7px 4px 4px #00000071;
    margin-top: -120px;
    padding: 0 20px;
}

.card3 p:first-child {
    font-size: 18px;
    position: relative;
    text-align: center;
    font-weight: bold ;
    top: 60%;
}

.card3 p:nth-child(2) {
    font-size: 16px;
    position: relative;
    text-align: center;
    top: 60%;
}

.btn-rd-more {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #0FA958;
    box-shadow: 7px 4px 4px #00000071;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    left: 24rem;
    top: 40rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn-rd-more label {
    position: absolute;
    margin-top: 12px;
    margin-left: -120px;
    width: 20vw;
}

/* FOOTER */
.container-footer {
    margin-top: 30rem;
    bottom: 0;
    padding: 0;
    position: relative;
    background-color: #001A20;
    height: 600px;
}

.left-content {
    position: absolute;
    background-color: #3C3C3C;  
    height: 500px;
    margin-left: 10%;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.left-content p {
    color: white;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.line-left-content {
    margin: 60px auto;
    border-bottom: white 3px solid;
    width: 300px;
}

.left-content-1 {
    position: absolute;
    margin-top: -10px;
    text-align: center;
    margin-left: 45px;
    color: white;
    font-weight: bold;
    font-size: 13px;
} 
/* paralax 1 */
.paralax1{
    background-image: url(img/paralax1.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.paralax1-isi{
    padding-top: 5%;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.paralax1 label:nth-child(2){
    font-weight: 100;
    font-size: 20px;
}

.paralax-isi2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.paralax-isi2 img{
    width: 25px;
    height: 35px;
}

.paralax-isi2 p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.paralax-isi2 label{
    margin-left: 8%;
    font-size: 25px;
    font-weight: bold;
}

.paralax-isi2 a{
    margin-left: 8%;
}

.paralax-isi2 a button{
    margin-left: 8%;
    background-color: #0fa958;
    border-radius: 15px;
    width: 180px;
    color: white;
    border: none;
    font-weight: bold;
    height: 40px;
}

.paralax-isi2 a button:hover{
    background-color: #1C6758;
}

/* doctor */
.doctor-content{
    background: linear-gradient(243.18deg, rgba(87, 255, 28, 0.2) 0%, rgba(12, 211, 255, 0.2) 100%), #FFFFFF;
    width: 100%;
    height: 670px;
    text-align: center;
}

.isi-doctor {
    padding-top: 2%;
}

.isi-doctor span{
    color: #57FF1C;
}

.isi-doctor p{
    color: black;
    font-weight: bold;
}

.line-doctor{
    width: 80px;
    margin-left: 47%;
    margin-top: 2%;
    background-color: black;
    height: 2px;
}

/* container-doctor */
.container-doctor{
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.card1{
    background-color: white;
    width: 260px;
    height: 320px;
    border-radius: 15px;
    text-align: center;

}

.card1 div a button,
.card2 div a button,
.card3 div a button,
.card4 div a button{
    background-color: #0fa958;
    border-radius: 15px;
    width: 80px;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    height: 30px;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img{
    width: 150px;
    margin-top: 15px;
    border-radius: 10px;
}

.card2{
    background-color: white;
    width: 260px;
    height: 320px;
    margin-left: 1%;
    border-radius: 15px;
}
.card3{
    background-color: white;
    width: 260px;
    height: 320px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
}
.card4{
    background-color: white;
    width: 260px;
    height: 320px;
    border-radius: 15px;
}

/* login */
/* login */
.zan-login {
    background-color: white;
    width: 650px;
    height: 400px;    
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
}

.judul-login{
    position: absolute;
    margin-left: 23%;
    margin-top: -3%;
    font-size: 25px;
}

.dokicon{
    height: 0;
}

.dokicon img{
    height: 300px;
    margin-left: 8%;
}

.isi-left{
    display: flex;
}

.isi-left img{
    margin-top: 3%;
    margin-left: 3%;
}

.isi-left p{
    font-weight: bold;
    margin-top: 6.5%;
    margin-left: 2%;
}

.isi-right input{
    height: 30px;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
}

.isi-right{
    position: relative;
    line-height: 20px;
    margin-left: 48%;
}

.isi-right a button{
    margin-top: 13%;
    margin-left: 23%;
    background-color: #0FA958;
    border: none;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 35px;
    font-weight: bold;
}

.isi-right a button:hover{
    background-color: #1C6758;
}

.dont-login{
    margin-top: 65px;
    color: #5A5A5A;
}

.dont-login a{
    color: #0FA958;
}
/* regis */

.have-account a{
    color: #0FA958;;
}
